:root {
  font-size: 16px;
}

$primary-color: #ffbf00;
$primary-color-dark: #ff9a00;
$seconday-color: #808836;
$details-color: #d10363;

body {
  background: url("./background.jpeg");
  min-width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}
